<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitPro - Inicio</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="centered">
    <div class="container home-container">
        <div class="logo">💪</div>
        <h1>FitPro</h1>
        <p class="subtitle">Tu compañero personal de fitness</p>
        <p class="description">
            Gestiona tus rutinas, ejercicios y planes alimenticios de forma eficiente.
            Alcanza tus objetivos con FitPro.
        </p>
        <div class="buttons">
            <a href="/login" class="btn btn-primary">🔒 Iniciar Sesión</a>
            <a href="/registro" class="btn btn-secondary">✨ Registrarse</a>
            <a href="/registroAdmin" class="btn btn-tercery">✨ Registrarse como admin</a>
        </div>
    </div>
</body>

</html>